<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
<h:head><title>T5K</title></h:head>
<h:body>
    <h:form id="formulario">
        <!-- TODO deveria usar o remote comand? -->
        <h:outputText value="#{declaracaoMB.loadDeclaracao}"></h:outputText>
        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" globalOnly="true"/>
        <p:panel header="Declaração" id="declaracao">
            <p:commandButton id="adicionaAnexoA" value="Cria Anexo A" action="#{declaracaoMB.criaAnexoA}" ajax="true" update="declaracao" rendered="#{declaracaoMB.declaracao.anexoA == null}" validateClient="false" immediate="true"/>
            <p:commandButton id="removeAnexoA" value="Remove Anexo A" action="#{declaracaoMB.removeAnexoA}" ajax="true" update="declaracao" rendered="#{declaracaoMB.declaracao.anexoA != null}" validateClient="false" immediate="true"/>
            <p:tabView orientation="left" id="tabsAnexos">
                <p:tab title="Rosto" id="tabRosto">
                <p:tabView id="tabQuadros">
                        <p:tab title="Quadro Inicial" id="tabInicial">
                            <h:panelGrid id="grid1" columns="3" cellpadding="5">
                                <h:outputLabel for="nif" value="NIF : " />
                                <p:inputMask id="nif" value="#{declaracaoMB.declaracao.rosto.quadroInicial.titular}" mask="999999999" required="true" requiredMessage="Obrigatório"/>
                                <p:message for="nif" />

                                <h:outputLabel for="email" value="Email : " />
                                <p:inputText id="email" value="#{declaracaoMB.declaracao.rosto.quadroInicial.email}" required="true" requiredMessage="Obrigatório">
                                    <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                </p:inputText>
                                <p:message for="email" />
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Quadro 1">
                            <h:panelGrid columns="3" cellpadding="5">
                                <h:outputLabel for="dataRececao" value="Data : " />
                                <p:calendar id="dataRececao" value="#{declaracaoMB.rostoQuadro1DataRececao}" showOn="button" pattern="yyyy-MM-dd">
                                </p:calendar>
                                <p:message id="dataRececaoMsg" for="dataRececao" display="icon"/>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                </p:tab>
                <p:tab title="Anexo A" rendered="#{declaracaoMB.declaracao.anexoA != null}">
                    <p:tabView>
                        <p:tab title="Quadro 1">
                            <h:panelGrid columns="3" cellpadding="5">
                                <h:outputLabel for="percentagem" value="Percentagem (%): " />
                                <p:spinner id="percentagem" value="#{declaracaoMB.declaracao.anexoA.quadro1.percentagem}" min="0" max="100"/>
                                <p:message id="percentagemMsg" for="percentagem" display="icon"/>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Quadro 2">
                            <h:panelGrid columns="3" cellpadding="5">
                                <h:outputLabel for="valor" value="Valor (€): " />
                                <pe:inputNumber id="valor" value="#{declaracaoMB.anexoAQuadro2Valor}" symbol=" €" symbolPosition="s"
                                                decimalSeparator="," thousandSeparator="." emptyValue="empty"/>
                                <!--p:inputMask id="valor" value="#{declaracaoMB.declaracao.anexoA.quadro2.valor}" mask="99999999?"/-->
                                <!--p:inputText id="valor" value="#{declaracaoMB.declaracao.anexoA.quadro2.valor}">
                                    <f:converter converterId="javax.faces.Integer"/>
                                </p:inputText-->
                                <p:message id="valorMsg" for="valor" display="icon"/>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                </p:tab>
            </p:tabView>
        </p:panel>




        <p:commandButton id="submete" value="Submete" action="#{declaracaoMB.submete}" ajax="true" validateClient="true" update="declaracao"/>
        <p:commandButton id="valida" value="Valida" action="#{declaracaoMB.valida}" ajax="true" validateClient="true" update="declaracao"/>

        <p:commandButton id="pp" value="Pré-preenche" action="#{declaracaoMB.redirect}" ajax="false" validateClient="false" immediate="true">
                <f:param name="action" value="pp" />
        </p:commandButton>


        <p:commandButton id="novo" value="Novo" action="#{declaracaoMB.redirect}" ajax="false" validateClient="false" immediate="true">
        </p:commandButton>


    </h:form>
</h:body>
</html> 